/* Styling for body */
body{
    font-family: Arial, sans-serif;
    background-color: #28253f;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Styling for the container */
.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 9px;
    max-width: 500px;
    width: 100%;
    margin-top: 60px; /* To prevent overlap with the fixed navbar */
}

/* Heading styles */
h1.form, h3.form {
    text-align: center;
    color: #333;
}

/* Label styles */
label {
    display: block;
    margin-top: 10px;
    color: #555;
}

/* Input styles */
input[type="text"],input[type="number"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Button styles */
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #893fdd;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #542688;
}

/* Wrapper for button */
.wrap {
    text-align: center;
}

/* Register link styles */
.register-link {
    text-align: center;
    margin-top: 15px;
}

.register-link a {
    text-decoration: none;
    color: #893fdd;
}